<div>
    <div class="panel" ng-controller="candidatesCtrl">
        <div class="panel-heading">
            Loan List
        </div>
        <div class="panel-body">
            <div class="no-more-tables">
                <table class="table table-striped mb0">
                    <thead>
                    <tr>
                        <th>rating</th>
                        <th>quickRatio</th>
                        <th>companyName</th>
                        <th>description</th>
                        <th>profitMargin</th>
                        <th>returnOnEquity</th>
                        <th>industry</th>
                        <th>currentRatio</th>
                        <th>infoFlag</th>
                        <th>isTrusted</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="candidate in candidateList">
                        <td data-title="ratingw">{{candidate.rating}}</td>
                        <td data-title="quickRatio">{{candidate.quickRatio}}</td>
                        <td data-title="companyName">{{candidate.companyName}}</td>
                        <td data-title="description">{{candidate.description}}</td>
                        <td data-title="profitMargin">{{candidate.profitMargin}}</td>
                        <td data-title="returnOnEquity">{{candidate.returnOnEquity}}</td>
                        <td data-title="industry">{{candidate.industry}}</td>
                        <td data-title="industry">{{candidate.currentRatio}}</td>
                        <td data-title="industry">{{candidate.infoFlag}}</td>
                        <td data-title="industry">{{candidate.isTrusted}}</td>

                        <td data-title="Action"><button>Select</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
